@font-face {
  font-family: "NotoSansCJKkr";
  src: local("NotoSansCJKkr"),
  url(~assets/fonts/NotoSans-Regular.otf);
}

html, body {
  font-family: "NotoSansCJKkr";
}

@function setViewport($unit, $px) {
  $denominator: 0;
  $viewport: 0;
  @if $unit == 'vw' {
    $denominator: 1920;
    $viewport: 100vw;
  }
  @else if $unit == 'vh' {
    $denominator: 1200;
    $viewport: 100vh
  }
  //$result: calc($viewport + ($px / $denominator * 100));
  $result: $px / $denominator * $viewport;
  @return $result;
}
  
@function setRem($px) {
  @return $px/16*1rem;
}

@function setCalc($num, $func) {
  $result: calc($num - $func);
  @return $result;
}